/* You can add global styles to this file, and also import other style files */
@font-face{
	font-family: analog_font;
	src: url('assets/fonts/DS-DIGIB.ttf');
}

.primary_btn{
	background-color: #006AC3;
	color: #fff;
	font-weight: bold;
}